* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

figure {
    margin: 0;
    aspect-ratio: 6 / 2;
}

svg {
    width: 100%;
    height: auto;
    outline: 1px solid;
}

:root {
    --stroke: hsl(173 82% 46%);
    --fill: hsl(173 82% 56% / 0.2);
    --marker: hsl(183 100% 99%);
    --textHeadingColor: var(--stroke);

    background-color: hsl(211 16% 12%);
    color: white;
    color-scheme: dark;
}
